@model IEnumerable<FrontEnd.Models.CategoriaViewModel>

@{
    ViewData["Title"] = "Todas las Categorías";
}

<h1>Categorías Disponibles</h1>

<p>
    <a asp-action="Create" class="btn btn-danger waves-effect waves-light">Nueva Categoría  <i class="ri-add-circle-line align-middle ms-2"></i></a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="alternative-page-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdCategoria)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCategoria)
                            </th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                                </td>
                                <td>
                                    @Html.ActionLink("", "Edit", new {  id=item.IdCategoria },new {@class="btn btn-secondary w-xs ri-pencil-fill",  @title="Editar"}) |
                                    @Html.ActionLink("", "Delete", new { id=item.IdCategoria  },new {@class="btn btn-danger w-xs ri-delete-bin-2-fill",  @title="Eliminar"})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>