@model IEnumerable<FrontEnd.Models.ProductoViewModel>

@{
    ViewData["Title"] = "Todos los Productos";
}

@*<h1>Index</h1>*@
@if (Context.Session.GetString("rol") == "1")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

}


<div class="row">
   
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h5>Ropa & Accesorios</h5>
                                <p>A continuación se muestran todos los productos...</p>
                                @*<ol class="breadcrumb p-0 bg-transparent mb-2">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Fashion</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Clothing</a></li>
                                    <li class="breadcrumb-item active">T-shirts</li>
                                    </ol>*@
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-inline float-md-end">
                                <div class="search-box ms-2">
                                    <div class="position-relative">
                                        @*<input type="text" class="form-control rounded" placeholder="Buscar...">
                                        <i class="mdi mdi-magnify search-icon"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row g-0">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-sm-6">
                                <div class="product-box">
                                    <div class="product-img">
                                        <div class="product-ribbon badge bg-warning">
                                            Nuevo
                                        </div>
                                        <div class="product-like">
                                            <a href="#">
                                                <i class="mdi mdi-heart-outline"></i>
                                            </a>
                                        </div>
                                        @{
                                            string imageBase64 = Convert.ToBase64String(item.RutaImagen);
                                            string imageSrc = string.Format("data:ContentType = image/jpg;base64,{0}", imageBase64);
                                            <img src="@imageSrc" alt="img-1" class="img-fluid mx-auto d-block" />
                                        }
                                        
                                    </div>
                                    <div class="text-center">
                                        @*<p class="font-size-12 mb-1">ID: @Html.DisplayFor(modelItem => item.IdProducto)</p>*@
                                        <h5 class="font-size-15"><a href="#" class="text-dark">@Html.DisplayFor(modelItem => item.NombreProducto)</a></h5>
                                        <h5 class="mt-3 mb-0">₡ @Html.DisplayFor(modelItem => item.PrecioProducto) (unitario)</h5>
                                        <br />
                                        @Html.ActionLink("Conocer Más", "Details", new { id = item.IdProducto }, new { @class = "btn btn-danger w-lg waves-effect waves-light", @title = "Conocer Más" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>




        </div>



    </div>
</div>

















@*<tr>
    <td>
    @Html.DisplayFor(modelItem => item.IdProducto)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.NombreProducto)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PrecioProducto)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CantidadDisponible)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.TallaProducto)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.FechaActualizacion)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.FechaRegistro)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.IdCategoria)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.IdProveedor)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.RutaImagen)
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new {  id=item.IdProducto  }) |
    @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
    </td>
    </tr>*@
