@model IEnumerable<FrontEnd.Models.ProductoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row g-0">
    @foreach (var item in Model)
    {
        <div class="col-xl-4 col-sm-6">
            <div class="product-box">
                <div class="product-img">
                    <div class="product-ribbon badge bg-warning">
                    </div>
                    <div class="product-like">
                        <a href="#">
                            <i class="mdi mdi-heart-outline"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/product/img-1.png" alt="img-1" class="img-fluid mx-auto d-block">
                </div>
                <div class="text-center">
                    <p class="font-size-12 mb-1">ID: @Html.DisplayFor(modelItem => item.IdProducto)</p>
                    <h5 class="font-size-15"><a href="#" class="text-dark">@Html.DisplayFor(modelItem => item.NombreProducto)</a></h5>
                    <h5 class="mt-3 mb-0">₡@Html.DisplayFor(modelItem => item.PrecioProducto)</h5>
                </div>
            </div>
        </div>
    }
</div>

















@*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TallaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaImagen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdProducto  }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
            </td>
        </tr>*@