@model IEnumerable<FrontEnd.Models.ProductoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TallaProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TallaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaImagen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdProducto  }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
            </td>
        </tr>
}
    </tbody>
</table>
