@model IEnumerable<FrontEnd.Models.ProveedorViewModel>

@{
    ViewData["Title"] = "Todos los Proveedores";
}

<h1>Listado de Proveedores</h1>

<p>
    <a asp-action="Create" class="btn btn-danger waves-effect waves-light">Nuevo Proveedor <i class="ri-add-circle-line align-middle ms-2"></i></a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="alternative-page-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProveedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreProveedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CedulaJuridica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProveedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreProveedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CedulaJuridica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.ActionLink("", "Edit", new {  id=item.IdProveedor  }, new {@class="btn btn-secondary w-xs ri-pencil-fill",  @title="Editar"}) |

                                    @Html.ActionLink("", "Delete", new { id=item.IdProveedor },new {@class="btn btn-danger w-xs ri-delete-bin-2-fill",  @title="Eliminar"})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>