@model IEnumerable<FrontEnd.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Todos los Usuarios";
}

<p>
    <a asp-action="BusquedaHacienda" class="btn btn-danger waves-effect waves-light">Registrar Nuevo Usuario <i class="ri-user-add-line align-middle ms-2"></i></a>
</p>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="alternative-page-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreUsuario)
                            </th>


                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                                </td>


                                <td>
                                    @Html.ActionLink("", "Edit", new {  id=item.IdUsuario  }, new {@class="btn btn-secondary w-xs ri-pencil-fill",  @title="Editar Usuario"}) |
                                    @Html.ActionLink("", "Details", new {  id=item.IdUsuario  },new {@class="btn btn-dark w-xs  ri-user-shared-2-fill",  @title="Detalles"}) |
                                    @Html.ActionLink("", "Delete", new {  id=item.IdUsuario },new {@class="btn btn-danger w-xs ri-user-unfollow-fill",  @title="Eliminar Usuario"})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>